<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to "Dashboard", root_path %></li>
    <li><%= link_to "Instance Overview", instance_path(@instance.id) %></li>
    <li class="is-active"><a href="#" aria-current="page">Keys</a></li>
  </ul>
</nav>

<%= render "shared/instance_hero" %>

<section class="section">
  <h1 class="title">Sample keys</h1>
  <%= link_to instance_keys_path(@instance.id) do %>
    <div style="color: black;">
      <button class="button is-info">Refresh</button>
    </div>
  <% end %>
  <br>
  <ul>
    <% @sample_keys.sort.each do |key| %>
      <li><%= key %></li>
    <% end %>
  </ul>
</section>
